{{define "component.modal.todo-detail"}}
<div class="modal fade" id="todo-modal" tabindex="-1" aria-labelledby="todoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="todoModalLabel">
          {{if .IsNew}}<i class="bi bi-plus-circle"></i> Create New Todo
          {{else}}<i class="bi bi-pencil"></i> Edit Todo{{end}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{template "component.todo.detail-form" .}}
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    const modalEl = document.getElementById('todo-modal');
    const modal = new bootstrap.Modal(modalEl);
    modal.show();

    // Clean up modal element when hidden
    modalEl.addEventListener('hidden.bs.modal', function () {
      modalEl.remove();
    });
  })();
</script>
{{end}}